.container {
  border: 1px solid var(--lightGrayColor);
  border-radius: var(--radius);
  display: inline-block;
  font-size: var(--font-size-medium);
}

.item {
  padding: var(--spacingL);
  display: inline-block;
  &:first-child {
    border-left: none;
  }
  border-left: 1px solid var(--lightGrayColor);
  cursor: pointer;
  &:hover {
    color: var(--secondaryColor);
  }
}

.isActivated {
  color: var(--secondaryColor);
}
